# Python Meets Database

We can use Python to talk to our database. For this task a basic requirement is to create a connection object. We will use the library pycopg2 to connect to our two databases

## Connecting to a Database using Psycopg2

First import the psycopg2 package

In [12]:
import psycopg2

Now let us try to connect to the sakila database

In [13]:
sakilaConn = psycopg2.connect("dbname=sakila user=geospatial password=geospatial2023 host=ghhlibrary")

If this ran without any error then you can be sure that you made a connection to the database

Now you can use Pandas to run SQL queries and get the results as Dataframes

In [14]:
import pandas as pd

Let us do a simple query of selecting all records from actor table

In [15]:
actorData = pd.read_sql_query("select * from actor",sakilaConn)

C:\Users\jajayak1\AppData\Local\Temp\ipykernel_39664\4154792946.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  actorData = pd.read_sql_query("select * from actor",sakilaConn)

In [16]:
actorData

     actor_id first_name     last_name         last_update
0           1   PENELOPE       GUINESS 2006-02-15 04:34:33
1           2       NICK      WAHLBERG 2006-02-15 04:34:33
2           3         ED         CHASE 2006-02-15 04:34:33
3           4   JENNIFER         DAVIS 2006-02-15 04:34:33
4           5     JOHNNY  LOLLOBRIGIDA 2006-02-15 04:34:33
..        ...        ...           ...                 ...
195       196       BELA        WALKEN 2006-02-15 04:34:33
196       197      REESE          WEST 2006-02-15 04:34:33
197       198       MARY        KEITEL 2006-02-15 04:34:33
198       199      JULIA       FAWCETT 2006-02-15 04:34:33
199       200      THORA        TEMPLE 2006-02-15 04:34:33

[200 rows x 4 columns]

Now can you try to select all cities with in United States using Pandas.

Once you are finished using database, it is always a best practice to close the connection to the database

In [17]:
sakilaConn.close()