# Loops

Loops are used to repeat execution of parts of a program. 

![pythonloops](images/loops.jpeg)

There are two types of looping constructs in Python

1. **for** loop (Also called as a **count controlled loop** as we already know **beforehand how many times to execute the iterative statement**)

2. **while** loop (Also called as **condition controlled loop** as iteration continues while or until a condition is met)

Lets look these loops in detail.

## for loop

Let's look at an example to show the motivation for a for loop.

Suppose you have a list of average temperatures for a year.

In [1]:
monthlyTemperature = [36,39,47,60,71,80,84,82,76,64,51,40]

Now what if we want to print all temperatures one by one. 
A very naive and inefficent way to do this would be

In [2]:
print (monthlyTemperature[0])

36

In [3]:
print (monthlyTemperature[1])

39

In [4]:
print (monthlyTemperature[2])

47

You can easily see that once the list becomes large this approach is not efficient. Enter for loop

In [5]:
for temperature in monthlyTemperature:
    print (temperature)

36
39
47
60
71
80
84
82
76
64
51
40

Voilaaaa!!!! you are able to print all the values in a single shot. Now let us look at the structure of the for loop


```python
for [item] in [sequenceOFElements]:
    <statement 1>
    <statement 2>
```
And **sequenceOfElements** here literally means a "sequence" of elements

sequence of numbers 1,2,3,4,5,6

sequence of characters 'a','l','e','x'

sequence of musical notes

And ***item* is an element in a sequence**.

So ***for*** loop goes through the **sequence of elements one at a time until the sequence finishes or the loop is some how forcefully terminated** (we will look into this soon).

Before moving forward with ***for*** loop let's introduce a useful function called range().

### range()

The structure of range is 
```python
range(start,stop,step) : Return sequence of numbers from start to stop-1 with steps of step. 
```
Let's look at some examples

In [6]:
print (range(0,10)) # here step is assumed to be 1

range(0, 10)

range method can be combined with for loops to generate sequence of numbers

In [7]:
for idx in range(0,10):
    print (idx)

0
1
2
3
4
5
6
7
8
9

Now can you print every other value between 0 and 10 (hint: you have to use step)

for loops in conjunction with range() method can be used to loop through lists/tuples/dicts/strings

In [8]:
monthlyTemperature = [36,39,47,60,71,80,84,82,76,64,51,40]
for idx in range(len(monthlyTemperature)):
    print (monthlyTemperature[idx])

36
39
47
60
71
80
84
82
76
64
51
40

So here, we are using a combination of functions to generate a sequence of numbers. len(monthlyTemperature) should give 12 and range(12) should create a sequence of values from 0 to 11. Then the value of idx changes from 0 to 11 for each iteration of the loop and we are using the value of idx or retrieve the specific element from the list (indexing).

We can also use conditional operators inside the for loop body. Let us see an example

In [1]:
monthlyTemperature = [36,39,47,60,71,80,84,82,76,64,51,40]
for idx in range(len(monthlyTemperature)):
    if monthlyTemperature[idx]>40:
        print (monthlyTemperature[idx])

47
60
71
80
84
82
76
64
51

Here we are printing only temperatures that are above 40. Now can you write the code for printing all the even numbers between 0 and 100.

You can also use for loop to go through a dictionary.

In [10]:
myDict = {'name':'jay','age':35,'sex':'M','vaccinated':True}
for key in myDict:
    print (key,'-->',myDict[key])

name --> jay
age --> 35
sex --> M
vaccinated --> True

And also through a string.

In [13]:
name = 'Jay'
for char in name:
    print (char)

J
a
y

Let's see one final example of for loop where we calculate the average of temperatures from a list.

In [14]:
monthlyTemperature = [36,39,47,60,71,80,84,82,76,64,51,40]
total = 0
for temperature in monthlyTemperature:
    total = total+temperature
print ('Average is ',total/len(monthlyTemperature))

Average is  60.833333333333336

Can you try to find the maximum temperature from our list of monthly temperatures using for loop (hint: use comparison operators)

## While loop

**while** loops are more flexible than **for** loops. Let's look at the syntax of **while** loop

```python
while <conditional expression>:
    <statement 1>
    <statement 2>
    <statement 3>
```

While the syntax of **while** loop looks similar to **if** statement, the difference is that, **if statement will execute only once based on the evaluation of the conditional expression**, while **while loop executes (or does not execute) until the conditional expression evaluates to False.**

Let's look at an example of printing from 1 to 100 using while loop.

In [15]:
value = 1
while value<=100:
    print(value)
    value = value+1 #if you forget this bad things will happen.

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

As you can see during each iteration, we are increasing the value of the variable 'value' by 1. Now can you try counting from 100 to 1.

Let's look at another example of using while loop with list.

In [16]:
monthlyTemperature = [36,39,47,60,71,80,84,82,76,64,51,40]
idx = 0
while idx<len(monthlyTemperature):
    print (monthlyTemperature[idx])
    idx = idx+1 #don't forget this

36
39
47
60
71
80
84
82
76
64
51
40

## Nested Loops

Similar to nested conditionals loops can also be nested. Let us see an example.

This example program prints multiplication table for numbers from 1 to 10.
For each iteration of the outer loop, the inner loop is completely executed. For example, when outer loop value is 1, the inner loop is executed from 0 to 10, and when the outer loop value is 2, the inner loop is again executed from 0 to 10, and so on and so forth.

In [2]:
for table in range (1,11):#this is the outer loop
    print ('Multiplication table for',table)
    for number in range (0,11):#this is the inner loop
        product = table * number
        print (table,'x',number,'=',product)
    print ()#this is for printing a blank line between tables

Multiplication table for 1
1 x 0 = 0
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Multiplication table for 2
2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Multiplication table for 3
3 x 0 = 0
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Multiplication table for 4
4 x 0 = 0
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Multiplication table for 5
5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Multiplication table for 6
6 x 0 = 0
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

Multiplication table for 7
7 x 0 = 0
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Multiplication table for 8
8 x 0 = 0
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

Multiplication table for 9
9 x 0 = 0
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

Multiplication table for 10
10 x 0 = 0
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

## Terminating loops before completion using break statement

Loops can be terminated before completion using **break** statement. Let's look at an example. In this example, we will check whether a particular fruit is available in our fruit basket. If the fruit is found, we terminate the loop.

In [18]:
fruitBasket = ['grapes','peach','orange','apple','papaya','pear','guava']
fruitToCheck = 'apple'
isFruitInBasket = False
for fruit in fruitBasket:
    print ('I am checking', fruitToCheck,'with',fruit)
    if fruit == fruitToCheck:#if fruit is in the basket
        isFruitInBasket=True
        break #loop will terminate
if isFruitInBasket:
    print ('The fruit',fruitToCheck,'is there in the fruit basket')
else:
    print ('The fruit',fruitToCheck,'is missing')

I am checking apple with grapes
I am checking apple with peach
I am checking apple with orange
I am checking apple with apple
The fruit apple is there in the fruit basket

## Skipping sections of loop using continue statement

We can skip sections of loop and continue execution of loop using **continue** statement.

Lets take an example to print all even numbers between 1 to 100 (using continue)

In [19]:
for number in range(1,101):
    #if its an odd number we dont need to print the number
    if number%2 != 0:
        continue #any statement after continue is not executed and loop continues
    print (number)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In the next chapter we will look into functions and modules which are key concepts for re-usability.